.upload-container {
  background-color: #323232;
  width: 1024px;
  border-radius: 15px;
  padding: 24px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

div[formGroupName]{
  div{
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
}
.submitButton{
  width: 200px;
}
